<html ng-app="grimTools">
    <head>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- bower:css -->
        <!-- endbower -->

        <!-- include: "type": "css", "files": "assets/css/*.css" -->
    </head>

    <body>
        <md-content layout="column" md-padding ng-view></md-content>

        <!-- bower:js -->
        <!-- endbower -->

        <script src="app.js"></script>

        <!-- include: "type": "js", "files": "components/**/*.component.js" -->
</html>
